@import "tailwindcss";
@import "../styles/codeHighlight.css";

:root {
  --font-dodum: "Gowun Dodum", sans-serif; 
  --foreground: #5a0417;
  --background: #f5ecd2;
  --oppoBackground: #000000;
  --oppoForeground: #c4a484;
  --mainText: #374151;
  --subText: #6b7280;
  --miniText: #9ca3af;
  --codeBackground: #4C4F55;
  --codeForeground: #FFD580;
  --tags: #ca8a04;
  --links: #4682B4;
  --markBackground: #D6D3CD;
  --markForeground: #111827;
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dodum);
  background-image: url('/assets/wallpaper.png');
  overflow-y: scroll;
}

.dark {
  --background: #000000;
  --foreground: #c4a484;
  --oppoForeground: #5a0417;
  --oppoBackground: #f5ecd2;
  --codeBackground: #3B4048;
  --codeForeground: #FFE585; 
  --mainText: #d1d5db;
  --subText: #9ca3af;
  --miniText: #6b7280;
  --markBackground: #4B5563;
  --markForeground: #E5E7EB;
}