@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Gowun+Dodum&display=swap');
@import "tailwindcss";
@import "../styles/codeHighlight.css";

:root {
  --font-dodum: "Gowun Dodum", sans-serif; 
  --foreground: #5a0417;
  --background: #f5ecd2;
  --oppoBackground: #000000;
  --oppoForeground: #c4a484;
  --mainText: #374151;
  --subText: #6b7280;
  --miniText: #9ca3af;
  --codeBackground: #374151;
  --codeForeground: #FFBF00;
  --tags: #ca8a04;
  --links: #4682B4;
  --markBackground: #5A6371;
  --markForeground: #DCDCDC;
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dodum);
  background-image: url('/assets/wallpaper.png');
  overflow-y: scroll;
}

.dark {
  --background: #000000;
  --foreground: #c4a484;
  --oppoForeground: #5a0417;
  --oppoBackground: #f5ecd2;
  --codeForeground: #f472b6;
  --mainText: #d1d5db;
  --subText: #9ca3af;
  --miniText: #6b7280;
  --markBackground: #4B5563 ;
  --markForeground: #DCDCDC;
}